body {
    background-image: url(../assets/Group.jpg);
    background-position: top;
    background-size: auto;
    background-repeat: no-repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/Group.jpg");
}